# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
bin
app
dist
dist-ssr
build/bin/
frontend/wailsjs/
wailsjs/
package.json.md5
*.local
extensions/relyyconvert-backend/bin/
extensions/relyyconvert-backend/vendor/ffmpeg/win_x64/ffmpeg.exe
extensions/relyyconvert-backend/vendor/ffmpeg/win_x64/ffprobe.exe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
