# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
bin
app
dist
dist-ssr
build/bin/
build/darwin/
frontend/wailsjs/
wailsjs/
package.json.md5
*.local
.env*.local
env*.local
certs/
*.pfx
*.p12
third_party/ffmpeg/win_x64/ffmpeg.exe
third_party/ffmpeg/win_x64/ffprobe.exe
third_party/ffmpeg/ffmpeg
third_party/ffmpeg/ffprobe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
